/* Layout */
body {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 220px;
  width: calc(100% - 220px);
  background-color: #f8f9fa;   /*f8f9fa*/
  overflow-x: auto;
}

:root {
  --bs-primary: #6f42c1;
  --bs-primary-rgb: 111, 66, 193;
}

.icon {
  color: #6f42c1;
}

.text-brand {
  color: #6f42c1;
}

.text-brand:hover {
  color: #5a35b0;
}

.btn-brand {
  background-color: #6f42c1;
  color: #ffffff;
  border-color: #6f42c1;
}

.btn-brand:hover {
  background-color: #5a35b0;
  border-color: #5a35b0;
  color: #ffffff;
}

.btn-fab {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-primary {
  background: #ffffff;
  color: #6f42c1;
}

.btn-outline-primary:hover {
  background: rgba(111, 66, 193, 0.06);
}

/* pagination */
.pagination .page-item.active .page-link {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #ffffff;
}
.pagination .page-link {
  color: #6f42c1;
}
.pagination .page-link:hover {
  color: #5a35b0;
  background-color: rgba(111, 66, 193, 0.1);
}
