{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #2E7D32;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="headerLogo" height="65"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lớp học</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">Hoạt động</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">a</a></li>
            <li><a class="dropdown-item" href="#">b</a></li>
            <li><a class="dropdown-item" href="#">c</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
      </ul>
      <div class="navbar-nav">
        <a href="#" role="button" class="btn btn-outline-light me-2 d-flex align-items-center" data-bs-toggle="modal"
          data-bs-target="#loginModal">
          <i class="bi bi-box-arrow-in-right me-2"></i>
          Đăng nhập
        </a>
        <a href="#" role="button" class="btn btn-light text-success d-flex align-items-center fw-semibold"
          data-bs-toggle="modal" data-bs-target="#registerModal">
          <i class="bi bi-person-plus me-2"></i>
          Đăng ký
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Main Content Area -->
<div class="container" style="padding-top: 100px;">
  <!-- Add your page content here -->
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="mt-4 p-5 text-white rounded" style="background-color: #2E7D32;">
    <div class="container">
      <h1 style="font-size: 30px;"><img src="{{ url_for('static', filename='logo.png') }}" alt="footerLogo" height="70">
        Giáo dục thông minh
      </h1>
      <div class="row">
        <div class="col">Giới thiệu</div>
        <div class="col">Liên hệ với chúng tôi</div>
        <div class="col">Nền tảng mạng xã hội</div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}